In [1]:
import pandas as pd
import os
import random
import re
from bs4 import BeautifulSoup
import requests

In [2]:
urls = [
    "https://www.nytimes.com/books/best-sellers/combined-print-and-e-book-fiction/",
    "https://www.nytimes.com/books/best-sellers/combined-print-and-e-book-nonfiction/",
    "https://www.nytimes.com/books/best-sellers/hardcover-fiction/",
    "https://www.nytimes.com/books/best-sellers/hardcover-nonfiction/",
    "https://www.nytimes.com/books/best-sellers/trade-fiction-paperback/",
    "https://www.nytimes.com/books/best-sellers/paperback-nonfiction/",
    "https://www.nytimes.com/books/best-sellers/advice-how-to-and-miscellaneous/",
    "https://www.nytimes.com/books/best-sellers/childrens-middle-grade-hardcover/",
    "https://www.nytimes.com/books/best-sellers/picture-books/",
    "https://www.nytimes.com/books/best-sellers/series-books/",
    "https://www.nytimes.com/books/best-sellers/young-adult-hardcover/",
    "https://www.nytimes.com/books/best-sellers/mass-market-monthly/",
]
    
headers = {"User-Agent": "Mozilla/5.0"}

In [3]:
# we write a function to scrape ONE page
def scrape_page(url):
    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, "html.parser")

    titles  = [h.get_text(strip=True) for h in soup.find_all("h3", itemprop="name")]
    authors = [
        p.get_text(strip=True).removeprefix("by ").strip()
        for p in soup.find_all("p", itemprop="author")
    ]
    return list(zip(titles, authors))

In [4]:
# Loop
all_records = []
for url in urls:
    all_records.extend(scrape_page(url))

In [5]:
# to one table 
df = pd.DataFrame(all_records, columns=["title", "author"])
print(df)

                          title                              author
0                     THE WIDOW                        John Grisham
1            THE PROVING GROUND                    Michael Connelly
2         THE THINGS GODS BREAK                        Abigail Owen
3         THE SECRET OF SECRETS                           Dan Brown
4           GONE BEFORE GOODBYE  Reese Witherspoon and Harlan Coben
..                          ...                                 ...
150                RIVER LEGACY                        B.J. Daniels
151  THREE WEEKS TO SAY GOODBYE                            C.J. Box
152               WICKED DREAMS         Lisa Jackson and Nancy Bush
153                    THE LIAR                        Nora Roberts
154  SECRETS OF HER AMISH HEART                       Cathy Liggett

[155 rows x 2 columns]

In [14]:
df = df.drop_duplicates(subset=["title","author"])

In [15]:
df

                          title                              author
0                     THE WIDOW                        John Grisham
1            THE PROVING GROUND                    Michael Connelly
2         THE THINGS GODS BREAK                        Abigail Owen
3         THE SECRET OF SECRETS                           Dan Brown
4           GONE BEFORE GOODBYE  Reese Witherspoon and Harlan Coben
..                          ...                                 ...
150                RIVER LEGACY                        B.J. Daniels
151  THREE WEEKS TO SAY GOODBYE                            C.J. Box
152               WICKED DREAMS         Lisa Jackson and Nancy Bush
153                    THE LIAR                        Nora Roberts
154  SECRETS OF HER AMISH HEART                       Cathy Liggett

[125 rows x 2 columns]

In [17]:
df = df.reset_index(drop=True)
df

                          title                              author
0                     THE WIDOW                        John Grisham
1            THE PROVING GROUND                    Michael Connelly
2         THE THINGS GODS BREAK                        Abigail Owen
3         THE SECRET OF SECRETS                           Dan Brown
4           GONE BEFORE GOODBYE  Reese Witherspoon and Harlan Coben
..                          ...                                 ...
120                RIVER LEGACY                        B.J. Daniels
121  THREE WEEKS TO SAY GOODBYE                            C.J. Box
122               WICKED DREAMS         Lisa Jackson and Nancy Bush
123                    THE LIAR                        Nora Roberts
124  SECRETS OF HER AMISH HEART                       Cathy Liggett

[125 rows x 2 columns]

In [9]:
# response = requests.get(url, headers=headers)
# soup = BeautifulSoup(response.text, "html.parser")

In [10]:
# books = []

# for container in soup.find_all("div"):   # narrow later if needed
#     title_el = container.find("h3", class_="css-i1z3c1")
#     author_el = container.find("p", class_="css-1nxjbfc", itemprop="author")

#     if title_el and author_el:
#         title = title_el.get_text(strip=True)
#         author = author_el.get_text(strip=True).removeprefix("by ").strip()
#         books.append((title, author))

# books

In [11]:
# titles = [h3.get_text(strip=True) for h3 in soup.find_all("h3", class_="css-i1z3c1")]
# authors = [
#     p.get_text(strip=True).removeprefix("by ").strip()
#     for p in soup.find_all("p", class_="css-1nxjbfc", itemprop="author")
# ]

# list(zip(titles, authors))
# # print(titles)

In [12]:
# titles = [h3.get_text(strip=True) for h3 in soup.select("h3[itemprop='name']")]
# titles

In [ ]:
# # prepare a beautiful soup
# soup = BeautifulSoup(response.text, "html.parser")